.with{
  width: 20px;
  height: 20px;

}
.container{
  background-color: #c6bbbb;
}
.border-radius{
  border-radius: 150px;
}
ul{
  li{
    &:hover{
      border-top: 1px solid #1616d0;
    }
  }
}